version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  reviewers:
  - r0bb3n
  assignees:
  - r0bb3n
  allow:
  - dependency-type: all
  ignore:
  - dependency-name: org.eclipse.jetty:jetty-bom
    versions:
    - ">= 10.a, < 12"
  - dependency-name: org.apache.maven.plugins:maven-pmd-plugin
    versions:
    - "3.15.0"
  commit-message:
    prefix: "[dependabot]"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
  reviewers:
  - r0bb3n
  assignees:
  - r0bb3n
  commit-message:
    prefix: "[dependabot]"

