# This workflow will check the dependencies with OWASP

name: OWASP Dependency Checker

on:
  schedule:
    - cron: '27 5 * * 1,5'

jobs:
  check-master:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 11
      - name: Checkout `master` branch
        uses: actions/checkout@v2
        with:
          ref: master
      # http://man7.org/linux/man-pages/man1/date.1.html
      - name: Get Now
        id: get-now
        run: |
          echo "::set-output name=year::$(/bin/date -u "+%Y")"
          echo "::set-output name=month::$(/bin/date -u "+%m")"
          echo "::set-output name=day::$(/bin/date -u "+%d")"
        shell: bash
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-owasp-master-${{ steps.get-now.outputs.year }}-${{ steps.get-now.outputs.month }}-${{ steps.get-now.outputs.day }}
          restore-keys: |
            ${{ runner.os }}-maven-owasp-master-${{ steps.get-now.outputs.year }}-${{ steps.get-now.outputs.month }}-
            ${{ runner.os }}-maven-owasp-master-${{ steps.get-now.outputs.year }}-
      - name: Run OWASP Dependency Checker for `master`
        run: |
          mvn --file pom.xml --batch-mode \
            dependency-check:check -P vuln-check
      - name: Upload dependency report for master branch
        if: ${{ always() }}
        uses: actions/upload-artifact@v3.0.0
        with:
          name: dep-report-master
          path: target/dependency-check-report.html
  check-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
      - name: Checkout `latest` tag
        uses: actions/checkout@v2
        with:
          ref: latest
      # http://man7.org/linux/man-pages/man1/date.1.html
      - name: Get Now
        id: get-now
        run: |
          echo "::set-output name=year::$(/bin/date -u "+%Y")"
          echo "::set-output name=month::$(/bin/date -u "+%m")"
          echo "::set-output name=day::$(/bin/date -u "+%d")"
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-owasp-latest-${{ steps.get-now.outputs.year }}-${{ steps.get-now.outputs.month }}-${{ steps.get-now.outputs.day }}
          restore-keys: |
            ${{ runner.os }}-maven-owasp-latest-${{ steps.get-now.outputs.year }}-${{ steps.get-now.outputs.month }}-
            ${{ runner.os }}-maven-owasp-latest-${{ steps.get-now.outputs.year }}-
      - name: Run OWASP Dependency Checker for `latest`
        # don't run for version 1.0.2 since it has no proper profile
        env:
          POM_V102_HASH: 026b2554c3d5788bb55d2e70d41ec92c7d530138d8586d1f3ee0fd16e4e95662
          POM_THIS_HASH: ${{ hashFiles('pom.xml') }}
        run: |
          if [[ "$POM_THIS_HASH" == "$POM_V102_HASH" ]]
          then
            msg="pom.xml of latest tag is from version 1.0.2, which does not support the required profile. Skipping check."
            echo "::warning file=pom.xml::$msg"
            mkdir target
            echo "<html><body>$msg</body></html>" > target/dependency-check-report.html
            exit 0
          fi
          mvn --file pom.xml --batch-mode \
            dependency-check:check -P vuln-check
      - name: Upload dependency report for latest tag
        if: ${{ always() }}
        uses: actions/upload-artifact@v3.0.0
        with:
          name: dep-report-latest
          path: target/dependency-check-report.html
